<%- include('./partials/header') %>

<div class="intro">
    <h1>Welcome to ConvOh!</h1>
    <h2>Connect with different people from different backgrounds.<br><br>Share your opinions, and don't forget to have fun!<br><br>This is ConvOh.</h2>
    <a href="/posts/new"><h2>Start your first ConvOh!</h2></a>
  </div>
  

<%- include('./partials/footer') %>