* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: black;
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

body > nav {
  grid-area: nav;
  background-color: #7bb746;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 30px 0 30px;
}

nav > img {
  width: 60px;
  object-fit: contain;
  margin-right: auto;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #b5cab3;
  padding: 2vh;
  overflow-y: scroll;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
}

nav > a.active {
  color: white;
}

h1 {
  margin: 0;
  color: black;
  background-color: #7bb746;
  padding: 2vh;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}

nav > #home-page {
  margin-right: auto;
  margin-left: 180px;
  font-size: 4vmin;
}

#login > a {
  margin-left: 20px;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}

#login > a:hover {
  color: white;
  background-color: #598f2b;
  font-family: 'Montserrat', sans-serif;
}

nav > ul {
  list-style: none;
}

h2 {
  text-align: center;
}

.intro {
  background-color: white;
  width: 120vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 5vh 8vh 5vh;
}

div > img {
  align-self: center;
}

#new-form {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  width: 100vh;
  align-self: center;
  border: 10px solid #7bb746;
  padding: 30px;
  background-color: #e9f5df;
}

.content, #title, .tag, #convoh-submit {
  align-self: center;
  margin: 50px;
}

#tag-title {
  font-size: 20px;
}

#tag-section {
  width: 100px;
  align-self: center;
}

#show-tag {
  display: flex;
  flex-direction: row-reverse;
  border: 1px solid black;
}

textarea {
  resize: none;
  width: 50vh;
  height: 20vh;
}

#start-convoh {
  border: 2px solid black;
  width: 220px;
  align-self: center;
  text-decoration: none;
  font-size: 30px;
  font-family: 'Montserrat', sans-serif;
}

#post-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;  
  width: 100vh;
  height: 13vh;
  margin-top: 5vh;
  background-color: #e9f5df;
}

#post-container:hover {
  border: 4px solid #7bb746;  
}

#post-container > #username  {
  background-color: #0c4b07;
  color: #7bb746;
  align-self: center;
  font-family: 'Montserrat', sans-serif;
}

#post-container > #title {
  font-size: 2vh;
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  width: 100vh;
}

#post-container > #tag-container {
  align-self: center;
}

#tag-container > #tag {
  font-family: 'Montserrat', sans-serif;
  background-color: #0c4b07;
  color: #7bb746;
  padding: 1vh;
}

#post{
  text-decoration: none;
  align-self: center;
}

#add-comment-form {
  display: flex;
  flex-direction: column;
  align-self: center;
}

#post-content {
  font-family: 'Montserrat', sans-serif;
  width: 110vh;
}

#submit {
  width: 10vh;
  align-self: center;
}