<%- include('../partials/header') %>

<div class="intro">
    <h1>New ConvOh</h1>
    <form id="new-form" action="/posts" method="POST">
        <label>Title:</label>
        <input id="title" type="text" name="title" autocomplete="off" required="true" maxlength="150">
        <label>Content:</label>
        <input id="content" type="text" name="content" autocomplete="off" required="true" value="What's on your mind?" maxlength="280">
        <label id="tag-title">Tag:</label>
        <select id="tag-section" name="tag">
          <option class="tag "value="ConvOh">ConvOh</option>
          <option class="tag" value="Humor">Humor</option>
          <option class="tag" value="News">News</option>
          <option class="tag" value="Achievement">Achievement</option>
          <option class="tag" value="Music">Music</option>
          <option class="tag" value="Art">Art</option>
          <option class="tag" value="Sports">Sports</option>
          <option class="tag" value="Videogames">Videogames</option>
          <option class="tag" value="Film">Films</option>
          <option class="tag" value="Cars">Cars</option>
          <option class="tag" value="Television">Television</option>
          <option class="tag" value="Politics">Politics</option>
        </select>
        <input id="convoh-submit" type="submit" value="Add ConvOh">
      </form>
</div>

<%- include('../partials/footer') %>