<%- include('../partials/header') %>

<div class="intro">
    <h1>New ConvOh</h1>
    <form id="new-form" action="/posts" method="POST">
        <label class="new-title">Title:</label>
        <textarea id="title-text" type="text" name="title" autocomplete="off" required="true" maxlength="300">Come up with a clever title!</textarea>
        <p>Cannot exceed 300 characters</p>
        <label class="new-title">Content:</label>
        <textarea id="content-text" type="text" name="content" autocomplete="off" required="true" value="What's on your mind?" maxlength="15000"></textarea>
        <p>Cannot exceed 15,000 characters</p>
        <label class="new-title">Tag:</label>
        <select id="tag-section" name="tag">
          <option class="tag "value="ConvOh">ConvOh</option>
          <option class="tag" value="Humor">Humor</option>
          <option class="tag" value="News">News</option>
          <option class="tag" value="Achievement">Achievement</option>
          <option class="tag" value="Music">Music</option>
          <option class="tag" value="Art">Art</option>
          <option class="tag" value="Sports">Sports</option>
          <option class="tag" value="Videogames">Videogames</option>
          <option class="tag" value="Film">Films</option>
          <option class="tag" value="Cars">Cars</option>
          <option class="tag" value="Culinary">Culinary</option>
          <option class="tag" value="Television">Television</option>
          <option class="tag" value="Politics">Politics</option>
          <option class="tag" value="Misc">Misc.</option>
        </select>
        <input id="convoh-submit" type="submit" value="Add ConvOh">
      </form>
</div>

<%- include('../partials/footer') %>